* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: "Barlow Condensed", sans-serif;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

nav .nav-links a.nav-links-color {
  color: #242942;
}

nav .nav-links a.login-nav {
  color: #a0a1ac;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #242942;
  margin: 5px;
}

@media screen and (max-width: 789px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    overflow: hidden;
    position: absolute;
    right: 0px;
    height: 50%;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  height: 50%;
  position: absolute;
  top: 10%;
  left: 25%;
  right: 25%;
  overflow-x: hidden;
  background-color: #eef3f6;
  transform: translateX(0%);
}

.nav-active a {
  display: block;
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#top {
  padding-top: 60px;
}

#top .col-text {
  padding: 3% 7%;
}

#top .col-text .row {
  margin-left: 0.1%;
}

#top .col-text .row .new-btn {
  background-color: #242942;
  color: white;
  font-weight: 700;
  border-radius: 25px;
  margin-right: 3%;
}

#top .col-text .row h3 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  color: #a0a1ac;
  text-transform: uppercase;
  font-size: 23px;
  margin-top: 2%;
}

#top .col-text h1 {
  padding: 3% 0;
  text-transform: uppercase;
  color: #242942;
  font-size: 70px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

#top .col-text h4 {
  font-family: "Barlow", sans-serif;
  color: #5b5f71;
  padding: 1% 35% 3% 0;
}

#top .col-text .cta-row {
  margin-left: 0.1%;
  padding-top: 5%;
}

#top .col-text .cta-row .btn-demo {
  background-color: #ff5c5c;
  color: white;
  text-transform: uppercase;
  padding: auto 5%;
}

#top .col-text .cta-row h5 {
  text-transform: uppercase;
  margin: auto 0 auto 5%;
  color: #a0a1ac;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
}

#top .col-im {
  z-index: -1;
}

#top .col-im img {
  width: 130%;
}

@media screen and (max-width: 789px) {
  .col-row {
    display: flex;
    flex-flow: column-reverse;
  }
  .col-text {
    margin-top: 20%;
  }
  .col-text .cta-row h5 {
    margin-left: 5px;
    letter-spacing: 1.5px;
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  #top {
    padding-bottom: 10%;
  }
  #top .col-text {
    padding-top: 5%;
  }
  #top .col-text .cta-row h5 {
    padding-top: 5%;
    margin-left: 0;
  }
}
